@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/plugins/mescroll/mescroll.css" rel="stylesheet" />
</head>

<body>
    <div class="shop">
        <div class="shop-header" id="search">
            <input id="Project" name="Project" type="text" value="00" class="hidden">
            <a class="shop-header-back" href="/Home/Index">
                <img src="/images/icon/icon-26.png" />
            </a>
            <a class="shop-header-input" href="Search">
                <input type="text" name="s" placeholder="搜索商品名称" />
                <img src="/images/icon/icon-37.png" />
            </a>
        </div>
        <div class="shop-index">
            <div class="shop-index-type">
                <ul>
                    <li class="active" onclick="getlist('00');">全部</li>
                    @foreach (var item in Model)
                    {
                        <li onclick="getlist('@item.Value');">@item.Key</li>
                    }
                </ul>
            </div>
            <div class="shop-index-content">
                @foreach (var item in @ViewBag.AD)
                {
                    <div class="shop-index-content-banner @(item.Remarks=="00"?"":"hidden")" id="@("ad" +item.Remarks)">
                        <a href="@item.Url"><img src="/uploadfiles/ad/@item.Picture" /></a>
                    </div>
                }
                <div class="shop-index-goods" id="scroll" style="width: 100%;height: 80%;overflow-y: auto;">
                    <ul id="dataList">
                        <script id="tpl" type="text/html">
                            {{each list as item index}}
                            <li>
                                <a href="/SMall/Shop?Gid={{item.ShopGid}}">
                                    <img src="/uploadfiles/shop/{{item.ShopGid}}/logo.png" />
                                    <span>{{item.Name}}</span>
                                </a>
                            </li>
                            {{/each}}
                        </script>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/plugins/mescroll/mescroll.js"></script>
    <script src="/js/mlist.js"></script>
    <script>
        function getlist(gid, ev) {
            $(".shop-index-content-banner").hide();
            $("#ad" + gid).show();
            document.getElementById("Project").value = gid;
            $(".shop-index-type li").removeClass("active");
            ev = ev || window.event;
            var tmp = ev.target || ev.srcElement;
            tmp.className = "active";
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();
        }
    </script>
</body>
</html>