
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>彩链-商品详情</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="shop-detial" id="top">
        <img src="/images/icon/back.png" class="go-back-img" onclick="history.go(-1);" />
        <ul class="owl-carousel shop-detial-carousel">
            <li class="item">
                <a href="#">
                    <img src="/uploadfiles/product/@ViewBag.Picture" />
                </a>
            </li>
        </ul>
        <div class="shop-detial-msg">
            <div class="shop-detial-msg-title">
                <p>@ViewBag.Name</p>
                <div class="shop-detial-msg-title-price">
                    <span>￥@ViewBag.Price</span>
                    <span>库存 @ViewBag.Stock</span>
                </div>
            </div>
            <div class="shop-detial-msg-brief">
                <ul>
                    <li>
                        <img src="/images/icon/icon-63.png" />送货上门
                    </li>
                    <li>
                        <img src="/images/icon/icon-63.png" />如实描述
                    </li>
                    <li>
                        <img src="/images/icon/icon-63.png" />品质保证
                    </li>
                </ul>
            </div>
        </div>
        <div class="shop-detial-business">
            <p class="shop-detial-business-title">商家信息</p>
            <ul>
                <li>
                    <p>
                        <img src="/images/icon/icon-51.png" />
                        <span>@ViewBag.Address</span>
                    </p>
                    <a href="tel:@ViewBag.ContactNumber" class="shop-detial-business-phone">
                        <img src="/images/icon/icon-52.png" />
                    </a>
                </li>
                <li>
                    <p>
                        <img src="/images/icon/icon-53.png" />
                        <span>@ViewBag.ShopName</span>
                    </p>
                    <a href="/SMall/Shop?Gid=@Request.QueryString["ShopGid"]" class="shop-detial-business-store">
                        <img src="/images/icon/icon-57.png" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="shop-detial-content">
            <p class="shop-detial-content-title">图文详情</p>
            <div class="shop-detial-content-box">
                @(new HtmlString(ViewBag.Content))
            </div>
        </div>
        <div class="shop-detial-operation">
            <ul>
                <li>
                    <a onclick="history.go(-1);">
                        <img src="/images/icon/icon-53.png" />
                        <span>店铺</span>
                    </a>
                </li>
                <li>
                    <a href="/SMall/Cart">
                        <img src="/images/icon/icon-58.png" />
                        <span>购物车</span>
                    </a>
                </li>
            </ul>
            <span class="add-to-cart-btn" onclick="buy(1,1);">加入购物车<b id="add" class="hidden" style="color:red;">+1</b></span>
            <span class="buy-now-btn" onclick="buy(2,1);">立即购买</span>
        </div>
    </div>
    <a class="toTop" href="#top">
        <img src="/images/icon/icon-62.png" />
        <span>顶部</span>
    </a>
    <script src="~/js/jquery.js"></script>
    <script>
        function buy(type, Number) {
            $.ajax({
                url: "/SMall/AddCart",
                data: "ShopGid=@Request.QueryString["ShopGid"]&Gid=@Request.QueryString["Gid"]&Number=" + Number,
                type: "post",
                cache: false,
                timeout: 8000,
                dataType: "json",
                ContentType: "application/json; charset=utf-8",
                error: function () { alert('请求超时!'); },
                beforeSend: function () { },
                success: function (data) {
                    if (data.result === 200) {
                        $("#add").show().hide(2000);
                        if (type == 2) {
                            self.location = "/SMall/Cart";
                        }
                    }
                    else {
                        alert(data.data);
                    }
                },
            });
        }
    </script>
</body>
</html>