
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-商家主页</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/plugins/mescroll/mescroll.css" rel="stylesheet" />
</head>

<body>
    <div class="shop-order-detial">
        <div class="shop-order-header-new">
            <a href="/SMall/Index">
                <img src="/images/icon/icon-26.png" class="shop-order-header-back" />
            </a>
            <a href="Search" class="shop-order-search">
                <input type="text" placeholder="搜索商品" />
                <img src="/images/icon/icon-37.png" />
            </a>
            <a href="Classify?ShopGid=@Request.QueryString["Gid"]" class="shop-order-header-right">
                <img src="/images/icon/icon-64.png" />
                分类
            </a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="merchants">
            <div class="merchants-header">
                <div class="merchants-header-img">
                    <img src="/uploadfiles/shop/@item.Gid/bj.png" />
                </div>
                <div class="merchants-header-title">
                    <div class="merchants-header-title-avatar">
                        <img src="/uploadfiles/shop/@item.Gid/logo.png" />
                    </div>
                    <div class="merchants-header-title-text">
                        <p>@item.Name</p>
                        <span>@item.Profile</span>
                    </div>
                </div>
                <a class="merchants-header-address" href="/Home/Map?addr=@item.Province@item.City@item.Area@item.Address&name=@item.Name">
                    <img src="/images/icon/icon-55.png" />
                    <p>@item.Province@item.City@item.Area@item.Address</p>
                </a>
                <div class="merchants-header-time">
                    <p>
                        <img src="/images/icon/icon-56.png" />
                        <span>@item.Remarks</span>
                    </p>
                    <a href="tel:@item.ContactNumber">
                        <img src="/images/icon/icon-54.png" />
                    </a>
                </div>
            </div>
            <div class="merchants-content" id="scroll" style="width: 100%;height: 75%;overflow-y: auto;">
                <div id="dataList">
                    <script id="tpl" type="text/html">
                        {{each list as item index}}
                        <div class="merchants-item">
                            <div class="merchants-item-img">
                                <a href="/SMall/Product?ShopGid={{item.ShopGid}}&Gid={{item.Gid}}&Borrow={{item.Borrow}}">
                                    <img src="/uploadfiles/shop/{{item.ShopGid}}/{{item.Gid}}/logo.png" />
                                </a>
                            </div>
                            <div class="merchants-item-text">
                                <p class="merchants-item-title"><a href="/SMall/Product?ShopGid={{item.ShopGid}}&Gid={{item.Gid}}&Borrow={{item.Borrow}}">{{item.Name}}</a></p>
                                <p class="merchants-item-sales">月销{{item.Sales}}<span onclick="df('{{item.Gid}}');" class="{{item.DFH==2?"":"hidden"}}">可代发</span></p>
                                <p class="merchants-item-price">
                                    <span>
                                        ￥{{item.Price}}
                                    </span>
                                    <span>
                                        ￥{{item.OriginalPrice}}
                                    </span>
                                    <div class="merchants-item-status">
                                        {{if item.Borrow=="1"}}
                                        <img src="/images/icon/icon-66.png" />
                                        {{else if item.Borrow=="2"}}
                                        <img src="/images/icon/icon-65.png" />
                                        {{else}}
                                        {{/if}}
                                    </div>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    }
    <div class="shop-inside-header" id="search">
        <input name="ShopGid" type="text" value="@Request.QueryString["Gid"]" class="hidden">
        <input name="ClassifyGid" type="text" value="@Request.QueryString["ClassifyGid"]" class="hidden">
    </div>

    <div class="undertakes-modal ok">
        <div class="undertakes-modal-content">
            <div class="undertakes-modal-text">
                恭喜你,申请成功
            </div>
            <div class="undertakes-modal-text">
                <ul>
                    <li>电话客服: <a href="tel:059187660172">0591-87660172</a></li>
                    <li>电话客服 : FJLSKF</li>
                    <li>QQ客服 : 3379407843</li>
                </ul>
            </div>
            <div class="undertakes-modal-btn">
                确定
            </div>
        </div>
    </div>

    <div class="undertakes-modal shop">
        <div class="undertakes-modal-content">
            <div class="undertakes-modal-text">
                请申请成为商家
            </div>
            <div class="undertakes-modal-btn">
                <a href="/Member/ToShop">确定</a>
            </div>
        </div>
    </div>


    <script src="/js/jquery.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/plugins/mescroll/mescroll.js"></script>
    <script src="/js/mlist.js"></script>
    <script>
        function df(ProductGid) {
            $.ajax({
                url: "/SMall/DFHSQ",
                data: "ProductGid=" + ProductGid,
                type: "post",
                cache: false,
                timeout: 8000,
                dataType: "json",
                ContentType: "application/json; charset=utf-8",
                error: function () { alert('请求超时!'); },
                beforeSend: function () { },
                success: function (data) {
                    if (data.result === 200) {
                        if (data.data == 1) {
                            $(".ok").addClass("active");
                        }
                        else {
                            alert(data.data);
                        }
                    }
                    else {
                        $(".shop").addClass("active");
                    }
                },
            });
        }
        //关闭模态框
        $(".undertakes-modal").click(function () {
            $(this).removeClass("active");
        });
    </script>

</body>
</html>