@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>彩链-我的</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="center">
        <!--我的头部-->
        <div class="center-header">
            <div class="center-header-content">
                <div class="center-header-msg">
                    <div class="center-header-avatar">
                        <img src="/uploadfiles/member/@ViewBag.Picture" alt="头像" onerror="this.src='/images/@(ViewBag.Gender +".png")'" />
                    </div>
                    <div class="center-header-text">
                        <p>@ViewBag.Account (@ViewBag.RealName)</p>
                        <p class="label @ViewBag.CLLabel">@ViewBag.CLLevelName (ID:@ViewBag.MID)</p>
                    </div>
                </div>
                <a href="/Member/Info" class="center-header-arrow">
                    <img src="/images/icon/icon-25.png" />
                </a>
            </div>
            <div class="logout" onclick="self.location='/Home/LoginOut?login=/Home/Login';">退出登录</div>
        </div>
        <!--my token-->
        <div class="default-block my-token">
            <div class="my-token-item">
                <img src="/images/icon/icon-1.png" />
                <span class="my-token-item-titlt">My Token</span>
                <span class="my-token-item-num">
                    <span class="">BCCB:</span>
                    <span>@ViewBag.BCCB</span>
                </span>
                <span class="my-token-item-num">
                    <span class="">FBCC:</span>
                    <span>@ViewBag.FBCC</span>
                </span>
            </div>
            <div class="my-token-item">
                <img src="/images/icon/icon-2.png" />
                <span class="my-token-item-titlt">我的彩码:</span>
                <span class="my-token-item-price">
                    库存=@ViewBag.Stock
                    <a href="/Member/CL?LockStock=@ViewBag.LockStock">
                        <img src="/images/icon/icon-25.png" />
                    </a>
                </span>
            </div>
        </div>
        <!--积分-->
        <div class="default-block integral">
            <div class="default-block-title">
                积分
                <a href="/Member/MY" class="more-btn">
                    查看更多<img src="/images/icon/icon-24.png" />
                </a>
            </div>
            <div class="integral-content">
                <a href="/Member/IntegralAPP?type=1" class="integral-item">
                    <img src="/images/icon/icon-3.png" />
                    <p>可提积分 <span>@ViewBag.Money</span></p>
                </a>
                <a class="integral-item">
                    <img src="/images/icon/icon-4.png" />
                    <p>购物积分 <span>@ViewBag.Integral</span></p>
                </a>
            </div>
        </div>
        <!--商城积分-->
        <div class="default-block mall-points">
            <div class="default-block-title">
                商城积分
                <a href="/Member/MyShop" class="more-btn">
                    查看更多<img src="/images/icon/icon-24.png" />
                </a>
            </div>
            <div class="integral-content">
                <div class="integral-item">
                    <img src="/images/icon/icon-3.png" />
                    <p>消费金额 <span>@ViewBag.ShopOrder</span></p>
                </div>
                <div class="integral-item">
                    <img src="/images/icon/icon-5.png" />
                    <p>团队积分 <span>@ViewBag.TIntegral</span></p>
                    <p>积分额度 <span>@ViewBag.MM</span></p>
                </div>
                <div class="integral-item">
                    <img src="/images/icon/icon-3.png" />
                    <p>冻结积分 <span>@ViewBag.ShopRecord</span></p>
                </div>
            </div>
        </div>
        <!--商家中心-->
        <div class="default-block integral @(ViewBag.Shop ==0?"":"hidden")">
            <a class="default-block-title" href="/Member/ToShop">
                申请入驻成为商家
            </a>
        </div>
        <div class="default-block integral @(ViewBag.Shop !=0?"":"hidden")">
            <div class="default-block-title">
                商家中心
                <a href="/Shop/Index?Account=@ViewBag.Account&RealName=@ViewBag.RealName&LevelName=@ViewBag.LevelName&Label=@ViewBag.Label" class="more-btn">
                    进入<img src="/images/icon/icon-24.png" />
                </a>
            </div>
            <div class="integral-content">
                <div class="integral-item">
                    <a href="/Member/ShopOrder?tab=0">
                        <img src="/images/icon/icon-6.png" />
                        <p class="integral-item-tag"><span>待处理订单</span></p>
                        <p><span>@ViewBag.SOC</span></p>
                    </a>
                </div>
                <div class="integral-item">
                    <a href="/Shop/Money">
                        <img src="/images/icon/icon-7.png" />
                        <p>可提货款</p>
                        <p><span>@ViewBag.ShopMoney</span></p>
                    </a>
                </div>
            </div>
        </div>
        <!--我的团队-->
        <div class="default-block my-team">
            <div class="my-team-item">
                <p>
                    <span class="my-team-item-title">我的团队</span>
                    <span>(团队 本月业绩：@ViewBag.TMoney)</span>
                </p>
                <a href="/Member/Team" class="more-btn">
                    <img src="/images/icon/icon-24.png" />
                </a>
            </div>
            <div class="my-team-item">
                <p>
                    <span class="my-team-item-title">订单中心</span>
                </p>
                <a href="/Member/Order?tab=0" class="more-btn">
                    <img src="/images/icon/icon-24.png" />
                </a>
            </div>
        </div>
        <div class="default-block concat-us">
            <div class="concat-item">
                <a href="/Member/SendCL">
                    <img src="/images/icon/icon-9.png" />
                    <p>转赠彩链</p>
                </a>
            </div>
            <div class="concat-item">
                <a href="/Member/SendList?type=1">
                    <img src="/images/icon/icon-8.png" />
                    <p>转赠记录</p>
                </a>
            </div>
            <div class="concat-item">
                <a href="/Member/SendList?type=2">
                    <img src="/images/icon/icon-8.png" />
                    <p>收赠记录</p>
                </a>
            </div>
        </div>
        <!--联系我们-->
        <div class="default-block concat-us">
            <div class="concat-item">
                <a href="/Home/Share?m=@LJSheng.Common.LCookie.GetCK("linjiansheng", "Account")&gid=@LJSheng.Common.LCookie.GetMemberGid()&MID=@ViewBag.MID">
                    <img src="/images/icon/icon-8.png" />
                    <p>分享二维码</p>
                </a>
            </div>
            <div class="concat-item">
                <a href="">
                    <img src="/images/icon/icon-9.png" />
                    <p>联系我们</p>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-menu">
        <div class="bottom-menu-content">
            <ul>
                <li>
                    <a href="/Home/Index">
                        <img src="/images/icon/icon-42.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-41.png" class="bottom-menu-active-icon" />
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="/Home/APP">
                        <img src="/images/icon/icon-38.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-39.png" class="bottom-menu-active-icon" />
                        <span>APP</span>
                    </a>
                </li>
                <li>
                    <a href="/SMall/Index">
                        <img src="/images/icon/icon-43.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-44.png" class="bottom-menu-active-icon" />
                        <span>商城</span>
                    </a>
                </li>
                <li>
                    <a href="/Member/Index" class="active">
                        <img src="/images/icon/icon-45.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-46.png" class="bottom-menu-active-icon" />
                        <span>我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script>
        function Shop() {
            if (window.confirm('你确定要入住吗？必须上传商家证件才可以审核哦!')) {
                $.ajax({
                    url: "/Member/OpenShop",
                    data: "",
                    type: "post",
                    cache: false,
                    timeout: 8000,
                    dataType: "json",
                    ContentType: "application/json; charset=utf-8",
                    error: function () { alert('请求超时!'); },
                    beforeSend: function () { },
                    success: function (data) {
                        if (data.result === 200) {
                            self.location = "/Shop/Index";
                        }
                        else {
                            alert(data.data);
                        }
                    },
                });
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>