
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-商城积分</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span> 商城积分
    </div>
    <div class="center">
        <!--我的头部-->
        <div class="center-header integral-center">
            <div class="center-header-content">
                <div class="center-header-msg">
                    <div class="center-header-avatar">
                        <img src="/uploadfiles/member/@ViewBag.Picture" onerror="this.src='/images/@(ViewBag.Gender +".png")'" />
                    </div>
                    <div class="center-header-text">
                        <p>@ViewBag.Account (@ViewBag.RealName)</p>
                        <p class="label @ViewBag.CLLabel">@ViewBag.CLLevelName</p>
                    </div>
                </div>
            </div>
        </div>
        <!--积分-->
        <div class="integral-box">
            <div class="shop-integral-box">
                <a class="shop-integral-item" href="/Shop/IntegralAPP?type=2">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-3.png" />
                        <span>基数分</span>
                    </div>
                    <span class="shop-integral-item-num">@ViewBag.MIntegral</span>
                </a>
                <a class="shop-integral-item" href="/Shop/IntegralAPP?type=3">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-3.png" />
                        <span>可提积分</span>
                    </div>
                    <span class="shop-integral-item-num">@ViewBag.ShopIntegral</span>
                </a>
                <div class="shop-integral-item">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-8.png" />
                        <span>消费金额</span>
                    </div>
                    <span class="shop-integral-item-num">@ViewBag.ShopOrder</span>
                </div>
                <div class="shop-integral-item">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-5.png" />
                        <span>团队现有积分</span>
                    </div>
                    <span class="shop-integral-item-num">@ViewBag.TIntegral</span>
                </div>
                <div class="shop-integral-item">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-3.png" />
                        <span>可获倍数积分</span>
                    </div>
                    <span class="shop-integral-item-num">@ViewBag.MM</span>
                </div>
                <a class="shop-integral-item" href="/SMall/TeamIntegral">
                    <div class="shop-integral-item-type">
                        <img src="/images/icon/icon-3.png">
                        <span>商城积分明细</span>
                    </div>
                    <span class="shop-integral-item-num"></span>
                </a>

            </div>
            <div class="default-block integral">
                <div class="default-block-title">
                    冻结积分
                </div>
                <div class="integral-content integral-center-content shop-integral-content">
                    <div class="integral-item">
                        <img src="/images/icon/icon-3.png" />
                        <p>冻结中积分 <span>@ViewBag.ShopRecord</span></p>
                    </div>
                </div>
            </div>
            <div class="freeze-integral-detail">
                <div class="default-block integral">
                    <div class="default-block-title default-block-title-integral">
                        <a href="/Shop/FrozenList">冻结积分明细</a>
                    </div>
                </div>
                <div class="freeze-integral-detail">
                    <div class="default-block integral">
                        <div class="default-block-title default-block-title-integral">
                            <a href="/Shop/IntegralAPP?type=2">积分兑换明细</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>