
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>新闻操作</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
    <link href="~/plugins/zui/lib/uploader/zui.uploader.min.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("NewsAU", "LJSheng", new { gid = Request.QueryString["gid"] }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="col-sm-2">项目</label>
            <div class="col-md-5 col-sm-5">
                @foreach (var item in Model)
                {
                    <label class="radio-inline">
                        <input type="radio" name="Project" value="@item.Value"> @item.Key
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">标题</label>
            <div class="col-md-3 col-sm-5 has-success">
                <input type="text" name="Title" value="@ViewBag.Title" data-placement="auto" class="form-control" placeholder="不能为空">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">简介</label>
            <div class="col-md-3 col-sm-5">
                <textarea class="form-control" rows="3" name="Profile">@ViewBag.Profile</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">外链地址</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="Url" value="@ViewBag.Url" class="form-control" placeholder="为空不链接,需要填写完整的链接如 http://...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">来源/作者</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="Author" value="@ViewBag.Author" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2"><input type="text" name="Picture" value="" class="form-control hidden"></label>
            <div class="col-md-3 col-sm-5">
                <img data-toggle="lightbox" src="@ViewBag.Picture" data-caption="@ViewBag.Account" class="img-thumbnail" onerror="this.src='/images/nopic.png'" width="200">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">选择图片</label>
            <div id="Picture" class="col-md-3 col-sm-5 uploader">
                <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                <button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择图片</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">访问量</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="Number" value="@ViewBag.Number" class="form-control" placeholder="必填,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">排序</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="Sort" value="@ViewBag.Sort" class="form-control" placeholder="必填,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">显示设置</label>
            <div class="col-md-3 col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="Show" value="1"> 显示
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Show" value="2"> 不显示
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Show" value="3"> 推荐
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">正文</label>
            <div class="col-md-5 col-sm-5">
                <script id="Content" name="Content" type="text/plain">
                    @(new HtmlString(ViewBag.Content))
                </script>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="return check();">提交</button>
            </div>
        </div>
    }
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/plugins/zui/lib/uploader/zui.uploader.min.js"></script>
    <script src="~/plugins/ueditor/ueditor.config.js"></script>
    <script src="~/plugins/ueditor/ueditor.all.min.js"></script>
    <script>
        var ue = UE.getEditor('Content');
        $(":radio[name='Show'][value='@ViewBag.Show']").prop("checked", "checked");
        $(":radio[name='Project'][value='@ViewBag.Project']").prop("checked", "checked");
        function check()
        {
            var field = $("input[name='Title']");
            if (field.val().length ==0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Sort']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Number']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            return true;
        }
        function tooltip(field)
        {
            field.focus();
            field.tooltip('show', field.attr('placeholder'));
            setTimeout(function () { field.tooltip('destroy');}, 3000);
        }
        $('#Picture').uploader({
            autoUpload: true,
            limitFilesCount:1,
            url: '/LJSheng/UploadPicture?Path=/uploadfiles/news/',
            filters: {
                mime_types: [
                    { title: '图片', extensions: 'jpg,gif,png' }
                ],
                max_file_size: '518kb',
                prevent_duplicates: true
            },
            deleteActionOnDone: function (file, doRemoveFile) { $("input[name='Picture']").val(""); $(".form-group img").attr("src", "");return true; },
            responseHandler: function (responseObject, file) {
                $("input[name='Picture']").val(file.remoteData.title);
                $(".form-group img").attr("src", file.remoteData.src);
            }
        });
    </script>
</body>
</html>
