
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>订单操作</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    @using (Html.BeginForm("OrderAU", "LJSheng", new { gid = Request.QueryString["gid"] }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="col-sm-2">下单用户</label>
            <div class="col-md-2 col-sm-2">
                @Request.QueryString["account"] @Request.QueryString["realname"]
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">购买商品</label>
            <div class="col-md-2 col-sm-2">
                @ViewBag.Product
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">系统订单号</label>
            <div class="col-md-2 col-sm-2">
                @ViewBag.OrderNo
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">支付订单号</label>
            <div class="col-md-2 col-sm-2">
                @ViewBag.TradeNo
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">支付金额</label>
            <div class="col-md-2 col-sm-2">
                @ViewBag.PayPrice
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">快递公司</label>
            <div class="col-md-2 col-sm-2">
                <select class="form-control" name="Express">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Type" @(item.Type == ViewBag.Express ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">快递单号</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="ExpressNumber" value="@ViewBag.ExpressNumber" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">收货人</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="RealName" value="@ViewBag.RealName" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">联系方式</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="ContactNumber" value="@ViewBag.ContactNumber" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">地址</label>
            <div class="col-md-5 col-sm-5 has-success">
                <input type="text" name="Address" value="@ViewBag.Address" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">订单状态</label>
            <div class="col-md-3 col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="ExpressStatus" value="1"> 待发货
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ExpressStatus" value="2"> 快递中
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ExpressStatus" value="3"> 已签收
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ExpressStatus" value="4"> 退回
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">备注</label>
            <div class="col-md-3 col-sm-5">
                <textarea class="form-control" rows="3" name="Remarks">@ViewBag.Remarks</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="return check();">提交</button>
            </div>
        </div>
    }
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script>
        $(":radio[name='ExpressStatus'][value='@ViewBag.ExpressStatus']").prop("checked", "checked");
    </script>
</body>
</html>
