
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>报表</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="GetList();">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>彩链</th>
                <th>未支付</th>
                <th>已支付</th>
                <th>提现</th>
                <th>支付宝</th>
                <th>微信</th>
                <th>线下</th>
                <th>积分</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>全部(金额)</td>
                <td>@ViewBag.norder</td>
                <td>@ViewBag.order</td>
                <td>@ViewBag.bank</td>
                <td>@ViewBag.alipay</td>
                <td>@ViewBag.wxpay</td>
                <td>@ViewBag.rmb</td>
                <td>@ViewBag.integral</td>
            </tr>
            <tr>
                <td>按时间查询</td>
                <td>@ViewBag.norder</td>
                <td>@ViewBag.ordertime</td>
                <td>@ViewBag.banktime</td>
                <td>@ViewBag.alipaytime</td>
                <td>@ViewBag.wxpaytime</td>
                <td>@ViewBag.rmbtime</td>
                <td>@ViewBag.integraltime</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>商城</th>
                <th>未支付</th>
                <th>已支付</th>
                <th>提现</th>
                <th>支付宝</th>
                <th>微信</th>
                <th>线下</th>
                <th>积分</th>
                <th>团队积分</th>
                <th>团队满足</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>全部(金额)</td>
                <td>@ViewBag.nshoporder</td>
                <td>@ViewBag.shoporder</td>
                <td>@ViewBag.shopbank</td>
                <td>@ViewBag.shopalipay</td>
                <td>@ViewBag.shopwxpay</td>
                <td>@ViewBag.shoprmb</td>
                <td>@ViewBag.shopintegral</td>
                <td>@ViewBag.team</td>
                <td>@ViewBag.mteam</td>
            </tr>
            <tr>
                <td>按时间查询</td>
                <td>@ViewBag.nshopordertime</td>
                <td>@ViewBag.shopordertime</td>
                <td>@ViewBag.shopbanktime</td>
                <td>@ViewBag.shopalipaytime</td>
                <td>@ViewBag.shopwxpaytime</td>
                <td>@ViewBag.shoprmbtime</td>
                <td>@ViewBag.shopintegraltime</td>
                <td>@ViewBag.teamtime</td>
                <td>@ViewBag.mteamtime</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>会员总数</th>
                <th>VIP</th>
                <th>代理商</th>
                <th>合伙人</th>
                <th>联合创始人</th>
                <th>创始人</th>
                <th>股东</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>全部</td>
                <td>@ViewBag.member</td>
                <td>@ViewBag.lv22</td>
                <td>@ViewBag.lv23</td>
                <td>@ViewBag.lv24</td>
                <td>@ViewBag.lv25</td>
                <td>@ViewBag.lv26</td>
                <td>@ViewBag.lv</td>
            </tr>
            <tr>
                <td>按时间查询</td>
                <td>@ViewBag.membertime</td>
                <td>@ViewBag.lv22time</td>
                <td>@ViewBag.lv23time</td>
                <td>@ViewBag.lv24time</td>
                <td>@ViewBag.lv25time</td>
                <td>@ViewBag.lv26time</td>
                <td>@ViewBag.lvtime</td>
            </tr>
        </tbody>
    </table>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script>
        function GetList() {
            var parames = new Array();
            var div = document.getElementById("search");
            var input = div.getElementsByTagName("input");
            var select = div.getElementsByTagName("select");
            for (var i = 0; i < input.length; i++) {
                parames.push({ name: input[i].name, value: input[i].value });
            }
            for (var i = 0; i < select.length; i++) {
                parames.push({ name: select[i].name, value: select[i].value });
            }
            var temp_form = document.createElement("form");
            temp_form.action = window.location.href;
            temp_form.target = "_self";
            temp_form.method = "post";
            temp_form.style.display = "none";
            for (var item in parames) {
                var opt = document.createElement("textarea");
                opt.name = parames[item].name;
                opt.value = parames[item].value;
                temp_form.appendChild(opt);
            }
            document.body.appendChild(temp_form);
            temp_form.submit();
            return false;
        }
    </script>
</body>
</html>
