
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>商品操作</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
    <link href="~/plugins/zui/lib/uploader/zui.uploader.min.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("ShopProductAU", "LJSheng", new { gid = Request.QueryString["gid"] }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <input type="text" name="ShopGid" value="@Request.QueryString["ShopGid"]" hidden>
        <div class="form-group">
            <label class="col-sm-2">分类</label>
            <div class="col-md-5 col-sm-5">
                @foreach (var item in Model)
                {
                    <label class="radio-inline">
                        @if (ViewBag.ClassifyGid == item.Gid)
                        {
                            <input type="radio" name="ClassifyGid" value="@item.Gid" checked> @item.Name
                        }
                        else
                        {
                            <input type="radio" name="ClassifyGid" value="@item.Gid"> @item.Name
                        }
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">商品编号</label>
            <div class="col-md-2 col-sm-2">
                <input type="text" name="Prefix" value="@ViewBag.Prefix" class="form-control" @(string.IsNullOrEmpty(ViewBag.Prefix)?"":"readonly")>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">名称</label>
            <div class="col-md-3 col-sm-5 has-success">
                <input type="text" name="Name" value="@ViewBag.Name" class="form-control" placeholder="必填项">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">单位</label>
            <div class="col-md-2 col-sm-2">
                <input type="text" name="Company" value="@ViewBag.Company" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">品牌</label>
            <div class="col-md-2 col-sm-2">
                <input type="text" name="Brand" value="@ViewBag.Brand" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2"><input type="text" name="Picture" value="" class="form-control hidden"></label>
            <div class="col-md-3 col-sm-5">
                <img data-toggle="lightbox" src="@ViewBag.Picture" data-caption="@ViewBag.Account" class="img-thumbnail" onerror="this.src='/images/nopic.png'" width="200">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">选择图片</label>
            <div id="Picture" class="col-md-3 col-sm-5 uploader">
                <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                <button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择图片</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">宣传价</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="OriginalPrice" value="@ViewBag.OriginalPrice" class="form-control" placeholder="必填项,只能是数字" onkeyup="value=value.replace(/[^\d.]/g,'');" @(string.IsNullOrEmpty(ViewBag.OriginalPrice.ToString())?"":"readonly")>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">售价</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="Price" value="@ViewBag.Price" class="form-control" placeholder="必填项,需要支付价格" onkeyup="value=value.replace(/[^\d.]/g,'');" @(string.IsNullOrEmpty(ViewBag.Price.ToString())?"":"readonly")>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">库存</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="Stock" value="@ViewBag.Stock" class="form-control" placeholder="必填项,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');" @(string.IsNullOrEmpty(ViewBag.Stock.ToString())?"":"readonly")>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-2">快递费</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="ExpressFee" value="0" class="form-control" placeholder="必填,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">浏览次数</label>
            <div class="col-md-3 col-sm-5">
                <input type="text" name="Number" value="@ViewBag.Number" class="form-control" placeholder="必填项,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">介绍</label>
            <div class="col-md-3 col-sm-5">
                <textarea class="form-control" rows="3" name="Profile">@ViewBag.Profile</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">正文</label>
            <div class="col-md-5 col-sm-5">
                <script id="Content" name="Content" type="text/plain">
                    @(new HtmlString(ViewBag.Content))
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">排序</label>
            <div class="col-md-2 col-sm-2 has-success">
                <input type="text" name="Sort" value="@ViewBag.Sort" class="form-control" placeholder="必填,只能是数字" onkeyup="value=value.replace(/[^\d]/g,'');">
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-2">显示设置</label>
            <div class="col-md-3 col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="Show" value="1"> 显示
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Show" value="2"> 不显示
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Show" value="3"> 推荐
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">备注</label>
            <div class="col-md-3 col-sm-5">
                <textarea class="form-control" rows="3" name="Remarks">@ViewBag.Remarks</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="return check();">提交</button>
            </div>
        </div>
    }
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/plugins/zui/lib/uploader/zui.uploader.min.js"></script>
    <script src="~/plugins/ueditor/ueditor.config.js"></script>
    <script src="~/plugins/ueditor/ueditor.all.min.js"></script>
    <script>
        var ue = UE.getEditor('Content');
        $(":radio[name='Show'][value='@ViewBag.Show']").prop("checked", "checked");
        if ("@ViewBag.ClassifyGid" =="00000000-0000-0000-0000-000000000000") {
            $("input[name='ClassifyGid']:first").attr('checked', 'checked');
        }
        function check() {
            var field = $("input[name='Name']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Sort']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='OriginalPrice']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Price']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Number']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            field = $("input[name='Stock']");
            if (field.val().length == 0) {
                tooltip(field);
                return false;
            }
            return true;
        }
        function tooltip(field) {
            field.focus();
            field.tooltip('show', field.attr('placeholder'));
            setTimeout(function () { field.tooltip('destroy'); }, 3000);
        }
        $('#Picture').uploader({
            autoUpload: true,
            limitFilesCount: 1,
            url: '/LJSheng/UploadPicture?Path=/uploadfiles/product/',
            filters: {
                mime_types: [
                    { title: '图片', extensions: 'jpg,gif,png' }
                ],
                max_file_size: '518kb',
                prevent_duplicates: true
            },
            deleteActionOnDone: function (file, doRemoveFile) { $("input[name='Picture']").val(""); $(".form-group img").attr("src", ""); return true; },
            responseHandler: function (responseObject, file) {
                $("input[name='Picture']").val(file.remoteData.title);
                $(".form-group img").attr("src", file.remoteData.src);
            }
        });
    </script>
</body>
</html>
