
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>商家订单管理</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-xs-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">会员帐号</span>
                <input type="text" class="form-control" name="Account" placeholder="会员手机号" />
                <span class="input-group-addon fix-padding">-</span>
                <select class="form-control" name="PayStatus">
                    <option value="0" selected>= 支付状态 =</option>
                    @foreach (string name in Enum.GetNames(typeof(LJSheng.Common.Help.PayStatus)))
                    {
                        LJSheng.Common.Help.PayStatus type = (LJSheng.Common.Help.PayStatus)Enum.Parse(typeof(LJSheng.Common.Help.PayStatus), name, true);
                        <option value="@((int)type)">@name</option>
                    }
                </select>
                <span class="input-group-addon fix-padding">-</span>
                <select class="form-control" name="ExpressStatus">
                    <option value="0" selected>= 货物状态 =</option>
                    <option value="1" @(Request.QueryString["ExpressStatus"] == "1" ? "selected" : "")>待出货</option>
                    <option value="2">快递中</option>
                    <option value="3">已签收</option>
                    <option value="4">退回</option>
                </select>
            </div>
        </div>
        <div class="col-xs-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">商家名称</span>
                <input type="text" class="form-control" name="Name" placeholder="商家名称" />
                <span class="input-group-addon">产品名称</span>
                <input type="text" class="form-control" name="Product" value="@Request.QueryString["Product"]" placeholder="产品名称" />
                <span class="input-group-addon">系统订单号</span>
                <input type="text" class="form-control" name="OrderNo" placeholder="系统订单号" value="@Request.QueryString["OrderNo"]" />
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <input type="text" value="@Request.QueryString["MemberGid"]" name="MemberGid" class="hidden" />
                    <input type="text" value="@Request.QueryString["ShopGid"]" name="ShopGid" class="hidden" />
                    <button type="button" class="btn btn-info" onclick="GetList(1);">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>系统/网银订单号</th>
                <th>下单时间</th>
                <th>购买商品</th>
                <th>商家信息</th>
                <th>会员购买信息</th>
                <th>支付信息</th>
                <th>支付积分</th>
                <th>订单状态</th>
                <th>管理操作</th>
                <th>付款凭证</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script id="tpl" type="text/html">
                {{each list as item index}}
                <tr id="{{item.Gid}}" style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td rowspan="2">{{index+1}}</td>
                    <td>{{item.OrderNo}}<br />{{item.TradeNo}}</td>
                    <td>{{item.AddTime}}<br />{{item.PayTime}}</td>
                    <td title="查看购买详情" onclick="Show('{{item.OrderNo}}','ShopOrderDetailsList?gid={{item.Gid}}');">查看商品</td>
                    <td>{{item.Name}}<br />{{item.ShopAccount}}</td>
                    <td>{{item.Account}}<br />{{item.RealName}}</td>
                    <td>
                        {{if item.PayStatus=="1"}}
                        <span class="label label-success">支付成功</span>
                        {{else if item.PayStatus=="2"}}
                        <span class="label label-danger">未支付</span>
                        {{else if item.PayStatus=="3"}}
                        已退款
                        {{else if item.PayStatus=="5"}}
                        金额不对
                        {{else}}
                        交易关闭
                        {{/if}}
                        <br />
                        {{if item.PayType=="1"}}
                        支付宝
                        {{else if item.PayType=="2"}}
                        微信
                        {{else if item.PayType=="4"}}
                        余额
                        {{else if item.PayType=="5"}}
                        积分
                        {{else}}
                        线下汇款
                        {{/if}}
                    </td>
                    <td>
                        合并订单金额:{{item.RMB}}<br />
                        支付金额:{{item.Price}}/{{item.PayPrice}}
                    </td>
                    <td>
                        <span class="label label-info">
                            {{if item.ExpressStatus=="1"}}
                            待出货
                            {{else if item.ExpressStatus=="2"}}
                            快递中
                            {{else if item.ExpressStatus=="3"}}
                            已签收
                            {{else}}
                            退回
                            {{/if}}
                        </span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn" onclick="Show('{{item.OrderNo}}','ShopOrderAU?gid={{item.Gid}}&account={{item.Account}}&realName={{item.RealName}}&Name={{item.Name}}');">编辑</button>
                            <button class="btn btn-danger hidden" onclick="Delete('{{item.Gid}}');">删除</button>
                        </div>
                    </td>
                    <td rowspan="2">
                        <a target="_blank" href="/uploadfiles/voucher/{{item.Voucher}}"><img data-caption="{{item.Account}}" data-toggle="lightbox" src="/uploadfiles/voucher/{{item.Voucher}}" class="img-thumbnail" onerror="this.src='/images/nopic.png'" style="width:80px;height:80px;"></a>
                    </td>
                </tr>
                <tr id="{{item.Gid}}" style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td colspan="3" onclick="Show('{{item.OrderNo}}','ShopRecordList?OrderNo={{item.OrderNo}}');">
                        <div class="btn-group">
                            <button class="btn btn-mini">团队分配</button>
                            <button class="btn btn-mini">第1级 <span class="label label-badge">{{item.T1}}</span></button>
                            <button class="btn btn-mini">第2级 <span class="label label-badge">{{item.T2}}</span></button>
                            <button class="btn btn-mini">第3级 <span class="label label-badge">{{item.T3}}</span></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-mini">基数分 <span class="label label-badge">{{item.MIntegral}}</span></button>
                        </div>
                    </td>
                    <td colspan="3"><button class="btn btn-mini disabled">消费码 <span class="label label-badge">{{item.ConsumptionCode}}</span></button></td>
                    <td colspan="3">
                        <span class="label label-info">
                            {{if item.Status=="1"}}
                            未验证
                            {{else}}
                            已验证
                            {{/if}}
                        </span>
                    </td>
                </tr>
                {{/each}}
            </script>
        </tbody>
    </table>
    <ul class="pager" id="pager"></ul>
    <ul class="pager" id="pages" style="overflow:hidden;"></ul>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/js/template-web.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/list.js"></script>
</body>
</html>