
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>支付</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body class="index">
    <div class="sub-header">
        <a class="icon-arrow-left" href="/Home/Index">返回</a>
        <div class="title">支付</div>
    </div>
    @using (Html.BeginForm("Pay", "Pay", FormMethod.Post))
    {
        <div class="cart-alert">
            请在5分钟之内付款!
        </div>
        <div class="double-icon-item" onclick="self.location = '/Member/Address?type=0&url=GoPay';">
            <a class="icon-left icon-location">&nbsp;</a>
            <div class="text">
                <p class="tit">@ViewBag.RealName</p>
                <p class="small-tit">@ViewBag.Addr</p>
                <span class="pos">@ViewBag.ContactNumber</span>
            </div>
            <a class="icon-right icon-arrow-right">&nbsp;</a>
        </div>
        <p class="note">
            <textarea name="Remarks" placeholder="备注"></textarea>
        </p>
        <div class="item-divider">
            请选择以下支付方式(支付金额:<b class="price">0</b>)
        </div>
        <div class="item-avatar" onclick="return check(1);">
            <a class="icon-avatar"><img src="~/images/ic-alipay.png" /></a>
            <div class="item-text">支付宝</div>
        </div>
        <div class="item-avatar" onclick="return check(2);">
            <a class="icon-avatar"><img src="~/images/ic-wechat.png" /></a>
            <div class="item-text">微信支付</div>
        </div>
        <div class="item-avatar" onclick="return check(3);">
            <a class="icon-avatar"><img src="~/images/ic-meat.png" /></a>
            <div class="item-text">选择线下汇款</div>
        </div>
        <input hidden type="text" name="RealName" id="RealName" value="@ViewBag.RealName" />
        <input hidden type="text" name="ContactNumber" id="ContactNumber" value="@ViewBag.ContactNumber" />
        <input hidden type="text" name="Addr" id="Addr" value="@ViewBag.Addr" />
        <textarea hidden name="shopcart" id="shopcart"></textarea>
        <input hidden type="text" name="PayType" id="PayType" />
        <input hidden type="text" name="OrderNo" id="OrderNo" value="@Request.QueryString["OrderNo"]" />
    }
    <script src="~/js/jquery.js"></script>
    <script src="~/plugins/mlayer/layer.js"></script>
    <script>
        var price = @Request.QueryString["Price"];
        if (price <= 0) {
            self.location = "/Home/Url";
        }
        document.getElementsByClassName("price")[0].innerHTML = price;
        function check(PayType) {
            var ua = navigator.userAgent.toLowerCase();
            if (PayType != 2 && ua.match(/MicroMessenger/i) == "micromessenger")
            {
                layer.open({
                    content: '不能在微信里使用支付,请在浏览器打开重新登录下单'
                    , btn: '我知道了'
                });
            }
            else {
                if (document.getElementsByName("RealName")[0].value.length > 1 && document.getElementsByName("ContactNumber")[0].value.length > 10 && document.getElementsByName("Addr")[0].value.length > 3) {
                    document.getElementById("shopcart").value = "@Request.QueryString["PGid"]";
                    document.getElementById("PayType").value = PayType;
                    if (document.getElementById("shopcart").value.length > 10 || document.getElementById("OrderNo").value.length > 10) {
                        layer.open({
                            type: 2
                            , content: '正在请求支付网关...'
                        });
                        if (PayType == 2) {
                            $.ajax({
                                url: "/Pay/Pay",
                                data: "RealName=" + $("#RealName").val() + "&ContactNumber=" + $("#ContactNumber").val() + "&Addr=" + $("#Addr").val() + "&shopcart=" + $("#shopcart").val() + "&PayType=2&Cache=" + Math.random(),
                                type: "post",
                                cache: false,
                                timeout: 8000,
                                dataType: "json",
                                ContentType: "application/json; charset=utf-8",
                                async: false,//一定要是同步请求，否则会跳转；（ajax默认是异步的）
                                error: function () { alert("AJAX Error"); },
                                beforeSend: function () { },
                                success: function (data) {
                                    if (data.result == 200) {
                                        WeixinJSBridge.invoke(
                                            'getBrandWCPayRequest', {
                                                "appId": data.data.appId, 
                                                "timeStamp": data.data.timeStamp, 
                                                "nonceStr": data.data.nonceStr, 
                                                "package": data.data.package,
                                                "signType": data.data.signType,
                                                "paySign": data.data.paySign 
                                            },
                                            function (res) {
                                            switch (res.err_msg) {
                                                case "get_brand_wcpay_request:ok":
                                                    self.location = "/Pay/PayOK?type=1&OrderNo=" + data.data.OrderNo+"&ReturnType=0";
                                                    break;
                                                default:
                                                    self.location = "/Home/Index";
                                                    break;
                                            }
                                        });
                                    }
                                    else {
                                        alert(data.data);
                                        self.location = "/Home/Login";
                                    }
                                },
                            });
                        }
                        else {
                            document.forms[0].submit();
                        }
                    }
                    else {
                        layer.open({
                            content: '该订单已经提交过了,请重新下单'
                            , btn: '我知道了'
                        });
                        return false;
                    }
                }
                else {
                    layer.open({
                        content: '请选择收货方式'
                        , skin: 'msg'
                        , time: 2
                    });
                    return false;
                }
            }
        }
    </script>
</body>
</html>
