
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>支付</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body class="index">
    <div class="sub-header">
        <a class="icon-arrow-left" href="/SMall/Cart">返回</a>
        <div class="title">支付</div>
    </div>
    @using (Html.BeginForm("PayShop", "Pay", FormMethod.Post))
    {
        <div class="cart-alert">
            请在5分钟之内付款!
        </div>
        <div class="double-icon-item" onclick="self.location = '/Member/Address?type=0&url=ShopPay';">
            <a class="icon-left icon-location">&nbsp;</a>
            <div class="text">
                <p class="tit">@ViewBag.RealName</p>
                <p class="small-tit">@ViewBag.Addr</p>
                <span class="pos">@ViewBag.ContactNumber</span>
            </div>
            <a class="icon-right icon-arrow-right">&nbsp;</a>
        </div>
        <p class="note">
            <textarea name="Remarks" placeholder="备注"></textarea>
        </p>
        <div id="pay">
            <div class="item-divider">
                请选择以下支付方式(支付金额:<b>@ViewBag.RMB</b>)
            </div>
            <div class="item-avatar" onclick="return check(1);">
                <a class="icon-avatar"><img src="~/images/ic-alipay.png" /></a>
                <div class="item-text">支付宝</div>
            </div>
            <div class="item-avatar" onclick="return check(2);">
                <a class="icon-avatar"><img src="~/images/ic-wechat.png" /></a>
                <div class="item-text">微信支付</div>
            </div>
            <div class="item-avatar" onclick="return check(3);">
                <a class="icon-avatar"><img src="~/images/ic-meat.png" /></a>
                <div class="item-text">选择线下汇款</div>
            </div>
            <div class="item-avatar @(ViewBag.Integral<ViewBag.RMB?"hide":"")" onclick="return check(5);">
                <a class="icon-avatar"><img src="~/images/ic-meat.png" /></a>
                <div class="item-text">积分支付(<b>@ViewBag.Integral</b>)</div>
                <div class="item-text"><input type="password" id="PayPWD" name="PayPWD" placeholder="支付密码" maxlength="6" /></div>
            </div>
            <div class="item-avatar @(ViewBag.Integral<ViewBag.RMB?"hide":"")" id="paymsg">

            </div>
        </div>
        <div class="item-avatar hide" id="msg">
            <div class="item-text">正在请求支付</div>
        </div>
        <input hidden type="text" name="RealName" id="RealName"  value="@ViewBag.RealName" />
        <input hidden type="text" name="ContactNumber" id="ContactNumber" value="@ViewBag.ContactNumber" />
        <input hidden type="text" name="Addr" id="Addr" value="@ViewBag.Addr" />
        <input hidden type="text" name="PayType" id="PayType" />
        <input hidden type="text" name="ReturnType" id="ReturnType" value="@Request.QueryString["ReturnType"]" />
    }
    <script src="/js/jquery.js"></script>
    <script>
        function check(PayType) {
            document.getElementById("PayType").value = PayType;
            var ua = navigator.userAgent.toLowerCase();
            if (PayType == 1 && ua.match(/MicroMessenger/i) == "micromessenger") {
                alert("不能在微信里使用支付,请在浏览器打开");
            }
            else {
                if (document.getElementsByName("RealName")[0].value.length > 1 && document.getElementsByName("ContactNumber")[0].value.length > 10 && document.getElementsByName("Addr")[0].value.length > 3) {
                    if (PayType != 5 || document.getElementById("PayPWD").value.length == 6) {
                        $("#pay").hide();
                        $("#msg").show();
                        if (PayType == 2) {
                            $.ajax({
                                url: "/Pay/PayShop",
                                data: "RealName=" + $("#RealName").val() + "&ContactNumber=" + $("#ContactNumber").val() + "&Addr=" + $("#Addr").val() + "&ReturnType=" + $("#ReturnType").val() + "&PayType=2&Cache=" + Math.random(),
                                type: "post",
                                cache: false,
                                timeout: 8000,
                                dataType: "json",
                                ContentType: "application/json; charset=utf-8",
                                async: false,//一定要是同步请求，否则会跳转；（ajax默认是异步的）
                                error: function () { alert("AJAX Error"); },
                                beforeSend: function () { },
                                success: function (data) {
                                    if (data.result == 200) {
                                        WeixinJSBridge.invoke(
                                            'getBrandWCPayRequest', {
                                                "appId": data.data.appId,
                                                "timeStamp": data.data.timeStamp,
                                                "nonceStr": data.data.nonceStr,
                                                "package": data.data.package,
                                                "signType": data.data.signType,
                                                "paySign": data.data.paySign
                                            },
                                            function (res) {
                                                switch (res.err_msg) {
                                                    case "get_brand_wcpay_request:ok":
                                                        self.location = "/Pay/PayOK?type=2&OrderNo=" + data.data.OrderNo + "&ReturnType=0";
                                                        break;
                                                    default:
                                                        self.location = "/SMall/Cart";
                                                        break;
                                                }
                                            });
                                    }
                                    else {
                                        alert(data.data);
                                        self.location = "/Home/Login";
                                    }
                                },
                            });
                        }
                        else {
                            document.forms[0].submit();
                        }
                    }
                    else {
                        $("#paymsg").html("请输入正确的支付密码");
                        return false;
                    }
                }
                else {
                    alert("请选择收货方式");
                    return false;
                }
            }
        }
    </script>
</body>
</html>
