
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>支付</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body class="index">
    <div class="sub-header">
        <a class="icon-arrow-left" href="~/Home/Cart">返回</a>
        <div class="title">支付</div>
    </div>
    @using (Html.BeginForm("PayShop", "Pay", FormMethod.Post))
    {
        <div class="cart-alert">
            请在5分钟之内付款!
        </div>
        <div class="double-icon-item" onclick="self.location = '/Member/Address?type=0&url=ShopPay';">
            <a class="icon-left icon-location">&nbsp;</a>
            <div class="text">
                <p class="tit">@ViewBag.RealName</p>
                <p class="small-tit">@ViewBag.Addr</p>
                <span class="pos">@ViewBag.ContactNumber</span>
            </div>
            <a class="icon-right icon-arrow-right">&nbsp;</a>
        </div>
        <p class="note">
            <textarea name="Remarks" placeholder="备注"></textarea>
        </p>
        <div class="item-divider">
            请选择以下支付方式(支付金额:<b class="price">0</b>)
        </div>
        <div class="item-avatar" onclick="return check(1);">
            <a class="icon-avatar"><img src="~/images/ic-alipay.png" /></a>
            <div class="item-text">支付宝</div>
        </div>
        <div class="item-avatar" onclick="return check(3);">
            <a class="icon-avatar"><img src="~/images/ic-meat.png" /></a>
            <div class="item-text">选择线下汇款</div>
        </div>
        <div class="item-avatar" onclick="return check(5);">
            <a class="icon-avatar"><img src="~/images/ic-meat.png" /></a>
            <div class="item-text">积分支付(<b>@ViewBag.Integral</b>)</div>
            <div class="item-text"><input type="password" id="PayPWD" name="PayPWD" placeholder="支付密码" maxlength="6" /></div>
        </div>
        <input hidden type="text" name="RealName" value="@ViewBag.RealName" />
        <input hidden type="text" name="ContactNumber" value="@ViewBag.ContactNumber" />
        <input hidden type="text" name="Addr" value="@ViewBag.Addr" />
        <textarea hidden name="shopcart" id="shopcart"></textarea>
        <input hidden type="text" name="PayType" id="PayType" />
    }
    <script src="~/js/jquery.js"></script>
    <script src="~/plugins/shop/cookie.js"></script>
    <script src="~/plugins/shop/server.js"></script>
    <script src="~/plugins/mlayer/layer.js"></script>
    <script>
        var price = getTotalPrice();
        document.getElementsByClassName("price")[0].innerHTML = price;
        function check(PayType) {
            if (PayType == 5 && @ViewBag.Integral<=0) {
                layer.open({
                    content: '积分不足哦!'
                    , btn: '我知道了'
                });
                return false;
            }
            else {
                var ua = navigator.userAgent.toLowerCase();
                if (PayType != 5 && ua.match(/MicroMessenger/i) == "micromessenger") {
                    layer.open({
                        content: '不能在微信里使用支付,请在浏览器打开重新登录下单'
                        , btn: '我知道了'
                    });
                }
                else {
                    if (document.getElementsByName("RealName")[0].value.length > 1 && document.getElementsByName("ContactNumber")[0].value.length > 10 && document.getElementsByName("Addr")[0].value.length > 3) {
                        if (PayType != 5 || document.getElementById("PayPWD").value.length == 6) {
                            document.getElementById("shopcart").value = cookieObj.get("shopdatas");
                            document.getElementById("PayType").value = PayType;
                            if (document.getElementById("shopcart").value.length > 10) {
                                layer.open({
                                    type: 2
                                    , content: '正在请求支付网关...'
                                });
                                cookieObj.del("shopdatas");
                                document.forms[0].submit();
                            }
                            else {
                                layer.open({
                                    content: '该订单已经提交过了,请重新下单'
                                    , btn: '我知道了'
                                });
                                return false;
                            }
                        }
                        else {
                            layer.open({
                                content: '请输入正确的支付密码'
                                , skin: 'msg'
                                , time: 2
                            });
                            return false;
                        }
                    }
                    else {
                        layer.open({
                            content: '请选择收货方式'
                            , skin: 'msg'
                            , time: 2
                        });
                        return false;
                    }
                }
            }
        }

        function bank() {
        }
    </script>
</body>
</html>
