@{
    ViewBag.Class = "Shop";
    ViewBag.Title = "商家资料";
    Layout = "~/Views/Shared/_SSLayout.cshtml";
}
<section class="section">
    @using (Html.BeginForm("ShopAU", "Shop", FormMethod.Post, new { @class = "box", enctype = "multipart/form-data" }))
    {
        <div class="control">
            <input type="text" name="Project" id="Project" placeholder="请最少设置一个类别" value="@ViewBag.Project" hidden />
            <label>商家类别</label>
            @foreach (var item in Model)
            {
                <div class="checkbox inline-block" onclick="set('@item.Value');">
                    <input type="checkbox" name="fl" value="@item.Value">
                    <label for="fl">@item.Key</label>
                </div>
            }
        </div>
        <div class="control">
            <label>商家封面</label>
            <div>
                <input type="file" name="Picture" id="Picture" style="position:absolute;opacity:0.0;filter:alpha(opacity=20);width:300px;height:100px;" />
                <img id="upimg" src="/uploadfiles/shop/@ViewBag.Gid/logo.png" onerror="this.src='/images/nopic.png'" style="min-width:300px; min-height:100px;" />
            </div>
            <div id="picturebt" class="help-text text-red hidden"></div>
        </div>
        <div class="divider"></div>
        <div class="control">
            <label>商家名称</label>
            <input id="Name" name="Name" value="@ViewBag.Name" type="text" class="input" placeholder="你的店铺名称">
            <div id="namemsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>商家地址</label>
            <select name="Province" id="Province">
                <option></option>
            </select> -
            <select name="City" id="City">
                <option></option>
            </select> -
            <select name="Area" id="Area">
                <option></option>
            </select>
            <br />
            <input id="Address" name="Address" value="@ViewBag.Address" type="text" class="input" placeholder="具体路段楼层门牌号">
            <div id="china" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>联系方式</label>
            <input id="ContactNumber" name="ContactNumber" value="@ViewBag.ContactNumber" type="text" class="input" placeholder="请填写标准的手机或电话号码">
            <div id="lxmsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>联系人</label>
            <input id="RealName" name="RealName" value="@ViewBag.RealName" type="text" class="input" placeholder="商家联系人">
            <div id="lxrmsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>商家介绍</label>
            <textarea type="text" name="Profile" autocomplete="off" class="input" style="height:5rem;">@ViewBag.Profile</textarea>
        </div>
        <div class="control">
            <label>商家详情</label>
            <textarea type="text" name="Content" autocomplete="off" class="input" style="height:8rem;">@ViewBag.Content</textarea>
        </div>
        <div class="control">
            <label>营业时间</label>
            <input name="Remarks" value="@ViewBag.Remarks" type="text" class="input" placeholder="营业时间范围">
        </div>
        <textarea id="base64Data" name="base64Data" hidden></textarea>
    }
</section>
<nav class="nav affix dock-top justified">
    <a href="/shop/index"><i class="icon-5x icon-arrow-left"></i></a>
    <a>商家资料</a>
    <a href="/Home/Url"><i class="icon-home"></i></a>
</nav>
<nav class="nav affix dock-bottom justified">
    <a class="info" onclick="return shop();">提交</a>
</nav>
<script src="~/plugins/zui/lib/jquery/jquery.js"></script>
<script src="~/plugins/mlayer/layer.js"></script>
<script src="~/js/pca.js" charset="gb2312"></script>
<script src="~/js/image.js"></script>
<script>
    var p="@ViewBag.Project";
        if (p!= "") {
            var Project = p.split(",");
            for (var i = 0; i < Project.length - 1; i++)
            {
                $(":checkbox[name='fl'][value='" + Project[i]+"']").prop("checked", "checked");
            }
        }
        setup();
        if ("@ViewBag.province".length > 0) {
            preselect("@ViewBag.Province");
            document.getElementById("City").value = "@ViewBag.City";
            change(2);
            document.getElementById("Area").value = "@ViewBag.Area";
        }
        //个人资料
        function shop() {
            if (document.getElementById("Name").value.length < 1) {
                tip("请输入商家名称");
                return false;
            }

            if (document.getElementById("Address").value.length <= 5) {
                tip("商家地址不够详细");
                return false;
            }

            if (document.getElementById("ContactNumber").value.length <= 10) {
                tip("联系方式不完整");
                return false;
            }
            if (document.getElementById("RealName").value.length <= 1) {
                tip("请填写联系人");
                return false;
            }
            if (document.getElementById("Province").value == "请选择省份") {
                tip("请选择省份");
                return false;
            }
            if (document.getElementById("City").value == "请选择城市") {
                tip("请选择城市");
                return false;
            }
            if (document.getElementById("Area").value == "请选择区域") {
                tip("请选择区域");
                return false;
            }
            if (document.getElementById("Project").value == "") {
                tip("最少设置一个分类");
                return false;
            }
            document.forms[0].submit();
            return true;
        }
        function tip(msg) {
            layer.open({
                content: msg
                , skin: 'msg'
                , time: 5
            });
    }
    function set() {
        document.getElementById("Project").value = "";
        var groupCheckbox = $("input[name='fl']");
        for (i = 0; i < groupCheckbox.length; i++) {
            if (groupCheckbox[i].checked) {
                var val = groupCheckbox[i].value;
                document.getElementById("Project").value += val + ",";
            }
        }
    }
</script>