@{
    ViewBag.Class = "Shop";
    ViewBag.Title = "添加商品";
    Layout = "~/Views/Shared/_SSLayout.cshtml";
}
<section class="section">
    @using (Html.BeginForm("ProductAU", "Shop", new { gid = Request.QueryString["gid"] }, FormMethod.Post, new { @class = "box", enctype = "multipart/form-data" }))
    {
    <div class="control has-warning">
        <label for="packageType">产品分类</label>
        <div class="select">
            <select id="ClassifyGid" name="ClassifyGid">
                @foreach (var item in Model)
            {
                <option value="@item.Gid">@item.Name</option>
        }
            </select>
        </div>
        <div id="cbt" class="help-text text-red"></div>
    </div>
        <div class="control">
            <label>商品封面</label>
            <div>
                <input type="file" name="Picture" id="Picture" style="position:absolute;opacity:0.0;filter:alpha(opacity=20);width:300px;height:100px;" />
                <img id="upimg" src="/uploadfiles/shop/@ViewBag.ShopGid/@(string.IsNullOrEmpty(Request.QueryString["Gid"])?"无图":Request.QueryString["Gid"])/logo.png" onerror="this.src='/images/nopic.png'" style="min-width:300px; min-height:100px;" />
            </div>
            <div id="picturebt" class="help-text text-red hidden"></div>
        </div>
        <div class="divider"></div>
        <div class="control">
            <label>商品名称</label>
            <input id="Name" name="Name" value="@ViewBag.Name" type="text" class="input" placeholder="输入商品名称">
            <div id="namemsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>商品编号</label>
            <input id="Prefix" name="Prefix" value="@ViewBag.Prefix" type="text" class="input" maxlength="6" placeholder="自动生成" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')" readonly>
            <div id="Prefixmsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>售价</label>
            <input id="Price" name="Price" value="@ViewBag.Price" type="text" class="input" placeholder="售价" onkeyup="value=value.replace(/[^\d]/g,'');" @(string.IsNullOrEmpty(ViewBag.Price.ToString())?"":"readonly")>
            <div id="Pricemsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>库存</label>
            <input id="Stock" name="Stock" value="@ViewBag.Stock" type="text" class="input" placeholder="入库数量" onkeyup="value=value.replace(/[^\d]/g,'');" @(string.IsNullOrEmpty(ViewBag.Stock.ToString())?"":"readonly")>
            <div id="Stockmsg" class="help-text text-red"></div>
        </div>
        <div class="control">
            <label>商品介绍</label>
            <textarea type="text" name="Profile" autocomplete="off" class="input" style="height:5rem;">@ViewBag.Profile</textarea>
        </div>
        <div class="control">
            <label>商品详情</label>
            <textarea type="text" name="Content" autocomplete="off" class="input" style="height:8rem;">@ViewBag.Content</textarea>
        </div>
        <textarea id="base64Data" name="base64Data" hidden></textarea>
    }
</section>
<nav class="nav affix dock-top justified">
    <a onclick="history.go(-1);"><i class="icon-5x icon-arrow-left"></i></a>
    <a>添加商品</a>
    <a href="/Home/Url"><i class="icon-home"></i></a>
</nav>
<nav class="nav affix dock-bottom justified">
    <a class="info" onclick="return Add();">提交</a>
</nav>
<script src="~/plugins/zui/lib/jquery/jquery.js"></script>
<script src="~/plugins/mlayer/layer.js"></script>
<script src="~/js/image.js"></script>
<script>
    if ("@ViewBag.ClassifyGid"!="0") {
        $("#ClassifyGid").val("@ViewBag.ClassifyGid");
    }
    function Add() {
        if (document.getElementById("ClassifyGid").value.length < 1) {
            tip("请先添加分类");
            return false;
        }

        if (document.getElementById("Name").value.length < 1) {
            tip("商品名称不少于2个字");
            return false;
        }
        if (document.getElementById("Price").value.length < 1) {
            tip("请填写出售价格");
            return false;
        }

        if (document.getElementById("Stock").value.length < 1) {
            tip("请填写库存");
            return false;
        }

        document.forms[0].submit();
        return true;
    }
    function tip(msg) {
        layer.open({
            content: msg
            , skin: 'msg'
            , time: 5
        });
    }
</script>