@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_ILayout.cshtml";
}
<div class="hide shop">@ViewBag.Gid</div>
<div class="hide shop">@ViewBag.Type</div>
<div class="carousel-inner" role="listbox">
    <div class="item active shop">
        <img src="@ViewBag.Picture" alt="baner">
        <div class="carousel-caption"></div>
    </div>
</div>
<div class="shop-info">
    <div class="tit shop">
        @(string.IsNullOrEmpty(Request.QueryString["RealName"])?"": "[" +Request.QueryString["RealName"]+"]") @ViewBag.Prefix@ViewBag.Name
    </div>
    <div class="price color-red">¥<b class="shop">@ViewBag.Price</b>/@ViewBag.Stock @ViewBag.Company</div>
</div>
<div class="shop-info hide">
    <div class="price color-red">原价¥<b>@ViewBag.RMB</b>/@ViewBag.Stock @ViewBag.Company</div>
</div>
<!-- 商品信息 -->
<div class="goods-info">
    <div class="cell">
        <span class="lab">付款方式</span>
        <span class="text">在线支付</span>
    </div>
    <div class="cell">
        <span class="lab">品牌</span>
        <span class="text">@ViewBag.Brand</span>
    </div>
</div>
<div class="good-detail">
    @(new HtmlString(ViewBag.Content))
</div>
<div class="good-detail">
    @ViewBag.Remarks
</div>
<footer class="nav-footer">
    <ul class="f-ul">
        <li>
            <a class="server" href="tel:059187660172">
                <p><i class="icon-serves"></i></p>
                <p>客服</p>
            </a>
        </li>
        <li><a class="btn btn-danger btn-lg btn-block" href="/Pay/GoPay?PGid=@ViewBag.Gid&Price=@ViewBag.Price">立即购买</a></li>
    </ul>
</footer>